* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title, h1 {
    padding: 10px 0px 0px 0px;
    margin-bottom: 0;
}

.caption { padding-bottom: 10px; }

.title, .type { color: rgb(252, 163, 17); }

h3, p {
    color: #14213D;
    margin-bottom: 5px;
}

a, .problem {
    width: 100%;
    text-decoration: none;
}

a:hover {
    background-color: rgb(245, 209, 153);
}

img {
    width: 70%;
    max-width: 200px;
}

.problems, a {
    background-color: #E5E5E5;
    border-radius: 25px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.problem {
    display: flex;
    align-items: center;
}

svg {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    padding-left: 10px;
    fill: rgb(19, 168, 5);
}

svg:hover {
    top: -5px;
}

span {
    display: flex;
}